/****************************************************************
**  PROLEGOMENA
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --realwhite: #fafafa;
  --white:     #eaeaea;
  --black:     #3c3c3c;
  --black66:   #3c3c3ca8;
  --purple:    #b91450;
  --green:     #00c864;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--black);
  /* font-size: 12px;
  min-width: 297px;  */
}
a {
  text-decoration: none;
  color: var(--black);
}
a:hover {
  color: var(--purple);
}

/****************************************************************
**  X
*/

/** main container **/
main.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
main .card {
  margin: 15px 15px 30px;
  padding: 30px 0;
  /* color: var(--black); */
  border-radius: 5px;
  background-color: var(--realwhite);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
main .wrapper {
  display: flex;
  position: relative;
  width: 800px;
}

/** overlay buttons **/
main .wrapper .prev_btn,
main .wrapper .next_btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50%;
  height: 100%;
  cursor: pointer;
  /* border: 1px solid red; */
  /* background-color: #0ffbff61; */
}
main .wrapper .next_btn {
  left: 50%;
}

/** arrows **/
main .wrapper .prev_arrow,
main .wrapper .next_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  /* height: 100%; */
  /* border: 1px solid red; */
}
main .wrapper .fas {
  font-size: 5em;
}
main .wrapper .fas.highlight {
  color: var(--purple);
}

/** image **/
main .wrapper .img_container {
  width: 80%;
  /* height: 100%; */
  /* border: 1px solid red; */
}
main .wrapper .img_container img {
  display: none;
  width: 100%;
  /* border: 1px solid red; */
}
main .wrapper .img_container img.active {
  display: block;
}

/** nav **/
main .wrapper .nav_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 0 20px;
  /* border: 1px solid red; */
}
main .wrapper .nav_container .nav {
  position: relative;
  width: 150px;
  height: 30px;
  z-index: 2;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--black66);
  /* border: 1px solid red; */
}

/****************************************************************
**  X
*/

/****************************************************************
**  X
*/




/****************************************************************
**  TEXTS
*/
/* .ms_txt_payoff {
  font-size: 3em;
  font-weight: 600;
} */
/* .ms_txt_title {
  font-size: 1.5em;
  font-weight: 700;
} */
/* .ms_txt_subtitle {
  font-size: 1.1em;
  font-weight: 500;
} */
.ms_txt_1 {
  font-size: 1.2em;
  font-weight: 700;
}
/* .ms_txt_2 {
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.5em;
} */
/* .ms_txt_small_1 {
  font-size: 0.9em;
  font-weight: 600; 
} */
/* .ms_txt_small_1 {
    font-size: 0.9em;
    font-weight: 600; 
} */