/****************************************************************
**  PROLEGOMENA
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --realwhite:   #fafafa;
  --realwhite66: #fafafaa8;
  --realwhite50: #fafafa80;
  --white:       #eaeaea;
  --white66:     #eaeaeaa8;
  --black:       #3c3c3c;
  --black66:     #3c3c3ca8;
  --purple:      #b91450;
  --green:       #00c864;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--black);
}
a {
  text-decoration: none;
  color: var(--black);
}
a:hover {
  color: var(--purple);
}

/****************************************************************
**  STRUCTURE
*/

/** main container **/
main.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
main .card {
  margin: 15px 15px 30px;
  padding: 30px 0;
  /* color: var(--black); */
  border-radius: 10px;
  background-color: var(--realwhite);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
main .wrapper {
  display: flex;
  position: relative;
  width: 800px;
}

/** overlay buttons **/
main .wrapper .prev_btn,
main .wrapper .next_btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
main .wrapper .next_btn {
  left: 50%;
}

/** arrows **/
main .wrapper .prev_arrow,
main .wrapper .next_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
main .wrapper .fas {
  font-size: 5em;
}
main .wrapper .fas.highlight {
  color: var(--purple);
}

/** image **/
main .wrapper .img_container {
  width: 80%;
}
main .wrapper .img_container img {
  display: none;
  width: 100%;
}
main .wrapper .img_container img.active {
  display: block;
}

/** nav **/
main .wrapper .nav_container {
  display: flex; /* larghezza .nav variabile */
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 0 20px;
}
main .wrapper .nav_container .nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  border-radius: 8px;
  background-color: var(--realwhite50);
}

/****************************************************************
**  TEXTS
*/
.ms_txt_1 {
  font-size: 1.2em;
  font-weight: 700;
}
.ms_txt_2 {
  font-size: 1.2em;
  font-weight: 700;
  padding: 30px;
}

/****************************************************************
**  UTILITY
*/
/* flex centered wrappers */
.ms_fx_w1c {
  display: flex;
  justify-content: center;
  align-items: center;
}